@media (max-width:1200px) {
    .container {
        width: calc(100% - 170px);
    }
    .contact-info, .intro {
        padding: 145px;
    }
    .gallery-image img {
        height: 500px;
    }
    iframe {
        height: 500px;
    }
    
}

@media (max-width:992px) {
    .container {
        width: calc(100% - 100px);
    }
    nav ul li a {
        margin-right: 15px;
        font-size: 18px;
    }
    .contact-info, .intro {
        padding: 150px 60px;
    }
    .intro h2 {
        font-size: 40px;
        margin: 10px 0;
    }
    .about-section {
        padding: 75px 0;
    }
    .heading h1 {
        font-size: 30px;
        padding: 30px 0;
    }
    iframe {
        height: 400px;
    }
    .gallery-image img {
        height: 330px;
    }
    .contact-info {
        padding: 50px 60px !important;
    }
    footer p {
        font-size: 16px;
    }
}

@media (max-width:768px) {
    .container {
        width: calc(100% - 50px);
    }
    .logo {
        font-size: 15px;
    }
    nav ul li a {
        margin-right: 5px;
        font-size: 16px;
    }
    .contact-info, .intro {
        padding: 115px 30px;
    }
    .intro h3 {
        font-size: 18px;
    }
    .intro h2 {
        font-size: 25px;
        margin: 10px 0;
    }
    .intro ul li {
        font-size: 14px;
    }
    .about-section {
        padding: 55px 0;
    }
    .about-me h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .about-me a {
        font-size: 16px;
    }
    .heading h1 {
        font-size: 25px;
        padding: 25px 0;
    }
    .image-sm {
        flex: 1 0 48%;
        max-width: 48%;
    }
    .mt-40 {
        margin-top: 20px;
    }
    .mb-20 {
        margin-bottom: 20px;
    }
    .mt-none {
        margin-top: 0px !important;
    }
    .gallery-image {
        flex: 0 0 48%;
        max-width: 48%;
    }
    .gallery-section {
        padding-bottom: 50px;
    }
    .contact-info {
        padding: 30px 40px !important;
    }
    .contact-info h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
}

@media (max-width:576px) {
    .container {
        width: calc(100% - 30px);
    }
    .logo a h1 {
        font-size: 25px;
    }
    nav ul li a {
        margin-right: 5px;
        font-size: 15px;
    }
    .col {
        flex: 1 0 100%;
        max-width: 100%;
    }
    .intro {
        text-align: center;
        padding: 100px 30px 50px;
    }
    .just-center {
        justify-content: center;
    }
    .contact-photo,
    .photo {
        height: 270px;
    }
    .about-section {
        padding: 35px 0;
    }
    .about-me h3 {
        font-size: 22px;
    }
    .about-me p {
        font-size: 15px;
    }
    .gallery-image {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .margin {
        margin-bottom: 20px;
    }
    .heading h1 {
        font-size: 22px;
        padding: 20px 0;
    }
    iframe {
        height: 270px;
    }
    .contact-info {
        padding: 30px 20px !important;
    }
}